.greeting {
    animation: wave 1.5s ease-in-out infinite alternate;
    animation-fill-mode: forwards;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes wave {
    from {
        transform: rotateZ(-10deg);
    }
    to {
        transform: rotateZ(10deg);
    }
}

svg {
    filter: url(#shadow);
}