@font-face {
    font-family: Jordestay;
    src: url('assets/fonts/Jordestay-Regular.ttf');
}

.handwriting {
    font-family: Jordestay;
    font-size: 50px;
}

@media (max-width: 767px) {
    .handwriting {
        font-size: 32px
    }
}

@media (max-width: 480px) {
    .handwriting {
        font-size: 20px
    }
}


/* .inverter {
    background: inherit;
} */
